body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #262626;
}

h1 {
    padding-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    line-height: 60px;
    color: #f2f2f2;
    background-color: #262626;
    height: 60px;
    width: 100%;
}

#topMenu {
    margin-left: 80px;
}

.cards {
    display: table;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
    border-radius: 15px;
    height: 200px;
    width: 200px;

    background-color: #f2f2f2;
    border-width: 1px;
    border-style: solid;
    border-color: #a1a1a1;
}

.divHeader{
    margin: 0;
    margin-left: 10px;
    margin-top: 25px;
    font-size: 24px;
    font-weight: bold;
}

#infoSection {
    display: table;
    margin-left: 100px;
    margin-right: 20px;
    margin-bottom: 50px;
    padding-left: 30px;
    padding-bottom: 0;
    border-radius: 15px;
    height: 200px;
    width: 680px;
  
    background-color: #f2f2f2;
    border-width: 2px;
    border-style: double;
    border-color: #a1a1a1;
}

#infoHeader {
    position: relative;
    top: 30px;
    margin: 0;
    margin-left: 200px;
    width: 240px;
}

button {
    outline-style: none;
    color: #262626;
}

#loanButton {
    margin-left: 10px;
    margin-top: 5px;

    width: 160px;
    height: 50px; 

    border-width: 2px;
    border-radius: 5px;
    border-color: rgb(49, 173, 111);
    border-style: outset; 

    background-color: springgreen;
    font-size: 18px;
}

#loanButton:disabled {
    opacity: 50%;
}

#loanbutton:hover, #loanButton:focus {
    border-style: inset;
    outline-style: none;
    background-color: rgb(61, 201, 131);
}

#buyButtonContainer {
    display: table;
    float: right;
    margin-right: 30px;
    padding: 0;
}

#buyButton {
    width: 160px;
    height: 50px; 

    border-width: 2px;
    border-radius: 5px;
    border-color: rgb(49, 154, 173);
    border-style: outset; 

    background-color: rgb(103, 255, 255);

    font-size: 18px;
    font-weight: bold;

    position: relative;  
    bottom: 45px;
}

#buyButton:active {
    border-style: inset;
    outline-style: none;
    background-color: rgb(62, 186, 207);
}

#bankButton, #workButton {
    width: 75px;
    height: 50px; 
    border-width: 2px;
    border-radius: 5px;
    border-style: outset; 
    font-size: 18px;
    margin-left: 10px;
    margin-top: 5px;
}

#bankButton {
    border-color: rgb(167, 160, 67);
    background-color: rgb(253, 253, 103);
}

#bankButton:active {
    border-style: inset;
    outline-style: none;
    background-color: rgb(206, 198, 85);
}

#workButton {
    border-color: rgb(67, 90, 167);
    background-color: rgb(100, 162, 255);
    color: #ffffff;
    position: relative;
    left: 2px;
}

#workButton:active {
    border-style: inset;
    outline-style: none;
    background-color: rgb(91, 119, 214);
}

select {
    width: 140px;
    height: 30px;
    margin-left: 10px;
    margin-top: 6px;
    border-width: 1px;
    border-radius: 5px;
}

#imageContainer {
    display: table;
    float: left;
    padding: 10px;
    position: relative;
    bottom: 5px;
    
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #a1a1a1;
    border-radius: 5px;
    height: 125px;
    width: 125px;
}

img {
    width: 125px;
    height: 120px;
}

#balance, #salary, #features, #computerFeatures {
    margin-left: 10px;
}

#features {
    margin-top: 5px;
}

#computerFeatures {
    font-size: 12px;
}

#description {
    position: relative;
    top: 35px;
    width: 240px;
    margin: 0;
    margin-left: 200px;
}

#price {
    margin: 0;
    margin-left: 490px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width:160px;
    position: relative;
    bottom: 70px;
}
